<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="ui three item menu" th:replace="/common/common::header"></div>
<div class="ui three item menu" th:replace="/common/common::nav"></div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form method="post" action="reserveStudio" class="form-horizontal">

				<!-- 日時の表示 -->
				<div class="form-group date">
					<input type="text" class="form-control" value="20170621">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-3">
						<label>Room Name</label> <label> <span
							th:text="${roomName}"></span></label>
					</div>
					<div class="col-md-6">
						<input type="text" name="password" class="form-control" />
					</div>
				</div>

				<input type="submit" value="login" class="form-control" name="login" />
			</form>
			<br>
		</div>
	</div>
	<!-- ./row -->
	<div class="row">
		<div class="col-md-6">
			<form method="post" action="selectStudio" class="form-horizontal">
				<div class="form-group">
					<label>userID</label> <input type="text" name="userId"
						class="form-control" />
				</div>
				<div class="form-group">
					<label>password</label><input type="text" name="password"
						class="form-control" />
				</div>
				<input type="submit" value="login" class="form-control" name="login" />
			</form>
			<br>
			<form method="post" action="registPage" class="form-horizontal">
				<div class="form-group">
					<input type="submit" value="regist" class="form-control" />
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.container -->
<div class="ui three item menu" th:replace="/common/common::footer"></div>
</body>

<script>
	$(function() {
		//Default
		$('#datepicker-default .date').datepicker({
			format : "yyyy年mm月dd日",
			language : 'ja',
			autoclose : true
		});

	});
</script>