<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="ui three item menu" th:replace="/common/common::header"></div>
<div class="ui three item menu" th:replace="/common/common::nav"></div>
<div class="container">
	<form method="post" action="login" class="form-horizontal">
		<div class="form-group">
			<label>userID</label> <span th:text="${userId}"></span>
		</div>
		<div class="form-group">
			<label>password</label> <span th:text="${password}"></span>
		</div>

	</form>
</div>
<!-- /.container -->
<div class="ui three item menu" th:replace="/common/common::footer"></div>
</body>